@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Kişiler sayfasına erişmek için lütfen buraya  <a class="text-dark" asp-area="" asp-controller="Home" asp-action="ContactList">tıklayın</a>.</p>
    <p>Raporlar sayfasına erişmek için lütfen buraya <a class="text-dark" asp-area="" asp-controller="Home" asp-action="ReportList">tıklayın</a>.</p>
</div>
